@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth
}

body {
  background-color: #161616;
  color: white;
  z-index: 3;

}

@layer utilities {
  .max-container {
    @apply mx-auto max-w-[1300px];
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  .aligh-center {
    align-items: center;
  }

  /* Columns */
  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 36%;
  }

  .col-6 {
    width: 50%
  }

  .col-8 {
    width: 63%;
  }

  .col-9 {
    width: 75%;
  }

  .col-12 {
    width: 100%
  }

  /* FONTS */
  .regular-64 {
    @apply text-[64px] font-[400] leading-[120%];
  }

  .regular-40 {
    @apply text-[40px] font-[400] leading-[120%];
  }

  .regular-32 {
    @apply text-[32px] font-[400];
  }

  .regular-24 {
    @apply text-[24px] font-[400];
  }

  .regular-20 {
    @apply text-[20px] font-[400];
  }

  .regular-18 {
    @apply text-[18px] font-[400];
  }

  .regular-16 {
    @apply text-[16px] font-[400];
  }

  .regular-14 {
    @apply text-[14px] font-[400];
  }

  .medium-14 {
    @apply text-[14px] font-[600];
  }

  .bold-88 {
    @apply text-[88px] font-[700] leading-[120%];
  }

  .bold-64 {
    @apply text-[64px] font-[700] leading-[120%];
  }

  .bold-52 {
    @apply text-[52px] font-[700] leading-[120%];
  }

  .bold-40 {
    @apply text-[40px] font-[700] leading-[120%];
  }

  .bold-32 {
    @apply text-[32px] font-[700] leading-[120%];
  }

  .bold-20 {
    @apply text-[20px] font-[700];
  }

  .bold-18 {
    @apply text-[18px] font-[700];
  }

  .bold-16 {
    @apply text-[16px] font-[700];
  }
  .contact-square{
    @apply w-[90%] h-[200px] flex flex-col justify-center items-center bg-gray-800 regular-18 rounded-[10px]
  }
}

/* MOBILE */
@media (max-width: 1024px) {
  nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-items: center;
    height: 70px;
    z-index: 1000;
  }
  .contact-square{
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 10px;
    
  }
}
@media (min-width: 1024px) {
  nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
    align-items: center;
    justify-content: center;
    top: 33%;
    right: 40px;
    width: 70px;
    border-radius: 20px;
    align-items: center;
    justify-items: center;
    height: 40%;
    z-index: 1000;
  }
}
/* BACKGROUND */
.bg-noise {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
  opacity: 0.5;
}

/* BUTTON */
.gradient-border {
  background-image: linear-gradient(to right, #4d57d0, #b452c3, #e49294, #fdc773);
  border-radius: 20px;
  background-size: 200% 100%;
  transition: background-position 1s;
}

.gradient-border:hover {
  background-position: 100% 0;
}


/* SIDEBAR */


nav li {
  @apply my-8
}
.svg *{
  background-size: 200% 100%;
}
.svgh *:hover {
  fill: url(#header-shape-gradient) #fff;
}

#header-shape-gradient {
  --color-one: #4d57d0;
  --color-two: #b452c3;
  --color-three: #e49294;
  --color-four: #fdc773;
}

.active * {
  fill: url(#header-shape-gradient) #fff;
}

/* TABS ABOUT */
.tab-list {
  height: 50px;
  display: flex;
  list-style: none;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.tabs {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: start;
  position: relative;
  cursor: pointer;
  font-size: 32px;
  font-weight: 700;
}
.tabs:hover{
  color: transparent;
  background: linear-gradient(45deg, #4d57d0, #b452c3, #e49294, #fdc773);
  background-clip: text;
}

.active-tabs {
  font-weight: 700;
  color: transparent;
  background: linear-gradient(45deg, #4d57d0, #b452c3, #e49294, #fdc773);
  background-clip: text;
}


.content {
  border: 1px solid transparent;
  border-color: white;

  border-radius: 5px;
  /* background: linear-gradient(45deg, #4d57d0, #b452c3, #e49294, #fdc773);
  -webkit-mask:
    linear-gradient(#ffffff 0 0) padding-box,
    linear-gradient(#ffffff00 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude; */
  display: none;
  width: 100%;
  justify-content: start;
  align-items: start;
  z-index: 1;
}
.content h2 {
  padding: 10px;
}
.active-content {
  display: flex;
}
.fif-img {
  left: -300px;
}

/* TEXT GRADIENT */
.text-gradient {
  background: linear-gradient(45deg, #4d57d0, #b452c3, #e49294, #fdc773);
  background-clip: text;
  color: transparent;
}



/* Projects */
.project-image{
  box-shadow: 0px 0px 30px #ffffff;
  border-radius: 20px;
}
.project-image:hover{
  opacity: 0.9;
}

/* Активные табы */

.active-circle *{
fill: #7f55ca;
display: unset;
}
.circle *{
fill: #5857cf;
display: unset;
}

